html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* Custom CSS*/
    background-color: #1C1D25;
    color: #ffffff;
    font-family: monospace;
}